body {
  font-family: Arial, sans-serif;
  background-image: url("./image/pvp_bg3.jpg");
  background-size: cover;
}
.form-box {
  position: fixed;
  top: 200px;   
  right: 20px;   
  background: white;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.card-form {
  background: #3c3576;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  color: white;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}


.card-form select,
.card-form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  background: #2012b6;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-submit:hover {
  background: #5b586e;
}


.popup-box h2 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 15px;
}


.popup-box button {
    margin-top: 20px;
    padding: 10px 30px;
    background: #666;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.popup-box button:hover {
    background: #444;
}
